* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* VARIBLES PARA PALETA DE COLORES Y TAMAÑOS DE LETRA*/
:root {
  --color-primario: #28784d;
  --color-secundario: #cd9c1c;
  --color-terciario: #ff682c;
  --color-cuarto: #17432c;
  --color-texto: #ecf0f0;
  --color-hover: #335f47;
  --color-fondo: #f4f4f4;

  --font-small: 0.875rem;
  --font-base: 1rem;
  --font-large: 1.25rem;
  --font-xlarge: 1.5rem;
  --font-xxlarge: 2rem
}

/* CONTENEDOR PRINCIPAL */
#principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: clip;
}

/*HEADER Y NAV ANCLADO */
.container_header_nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: var(--color-primario);
  z-index: 1000;
  /* padding: 0px 20px; */
}

/* HEADER */
#principal_header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: var(--color-primario);
  color: var(--color-texto);
  position: sticky;
  top: 0;
  z-index: 100;
}

/*HEADER Y NAV ANCLADO PROVEEDOR*/
.container_header_nav_proveedor {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: var(--color-secundario);
  z-index: 1000;
  /* padding: 0px 20px; */
}

/* HEADER PROVEEDOR*/
#principal_header_proveedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background-color: var(--color-secundario);
  color: var(--color-texto);
  position: sticky;
  top: 0;
  z-index: 100;
}

/*LOGOTIPO */
.container_logotipo {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin: 0;
}

.logotipo {
  max-width: 250px;
  min-width: 150px;
  width: 90%;
  height: auto;
}

/* Contenedor de perfiles e información */

.container_perfiles {
  display: flex;
  align-items: center;
  gap: 10px;
}

.informacion a {
  color: #ffffff;
  font-size: 20px;
  padding: 5px;
}

/*Estilo del Modal de información de perfiles*/
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  color: #333;
  padding: 1% 3%;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.modal-content h3 {
  color: var(--color-secundario);
  margin: 5px 0px;
}
.modal-content h2 {
  text-align: center;
}
.info-content ul {
  list-style: none;
}
.info-content li {
  margin: 2%;
}

/*Botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--color-secundario);
}

.perfiles {
  display: flex;
  gap: 8px;
}

.perfiles a {
  color: var(--color-texto);
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
}

.perfiles #contratista:hover {
  background-color: #335f47; 
}
.perfiles #proveedor:hover {
  background-color: #aa8b39; 
}

.a-contratista {
  border: #ffffff solid 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.a-proovedor {
  background-color: #cd9c1c;
  border: #ffffff solid 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active {
  background-color: #14914e;
}

/* Selectores (Soporte  Blog) */
.container-selector-group {
  display: flex;
  align-items: center;
  gap: 30px;
}

.container-selector {
  position: relative;
  overflow: visible;
  color: var(--color-texto);
  /* padding: 8px 20px; */
  border: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s ease;
}

.selector-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  min-width: max-content; 
  max-width: 100vw; 
  background-color: var(--color-texto);
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.container-selector:hover .selector-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  display: block;
}

.selector-menu li {
  list-style: none;
  float: none;
  margin: 0;
  width: 100%;
}
.selector-menu li a {
  color: var(--color-primario);
  width: 100%;
  padding: 5px 10px;
  display: block;
  font-size: 0.85rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.selector-menu li a:hover {
  background-color: var(--color-hover);
  color: var(--color-texto);
}

.selector-menu ul a:hover {
  color: var(--color-texto);
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
#soporteLink {
  font-size: 1.05rem;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

/* blog */
.container_blog {
  position: relative;
  display: inline-block; 
}

#blogLink {
  color: var(--color-texto);
  text-decoration: none;
  padding: 10px;
  font-size: 1.05rem;
  cursor: pointer;
}

#blogLink:hover {
  background-color: var(--color-hover);
  color: var(--color-texto);
}

/*Estilo del cuadrado NEW */

.blog-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
}

#newBadge {
  position: absolute;
  top: 0;
  right: -30px;
  transform: translateY(0%);
  background-color: #3d0dc1;
  color: #ffffff;
  padding: 3px 6px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*Loging*/

.loging a {
  background-color: var(--color-terciario);
  color: var(--color-texto);
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.loging a:hover {
  background-color: var(--color-hover);
}
.usuario {
  margin-right: 8px;
}

/* Menú hamburguesa */
#menuHamburguesa {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-texto);
  margin-right: 1rem;
}
/* Navegador con los enlaces a otras páginas */

#nav {
  display: flex;
  justify-content: center;
  background-color: var(--color-primario);
  position: sticky;
  z-index: 150;
  /* margin-top: 1%; */
}

#nav_proveedor {
  display: flex;
  justify-content: center;
  background-color: var(--color-secundario);
  position: sticky;
  z-index: 150;
  /* margin-top: 1%; */
}
.container_nav {
  display: flex;  
  padding-top: 0;
  border-top: #ffffff solid 1px;
}

nav ul {
  list-style: none;
  width: 80%; 
  padding: 0%;
  margin: 0% auto;
}
nav ul li {
  margin: 0 auto;  
}
nav ul a {
  display: block;
  color: var(--color-texto);
  margin: 0%;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 1.05rem;
  transition: background-color 0.3s ease;
}

nav ul a:hover {
  background-color: var(--color-hover);
}
.container_soluciones{
  display: inline-flex;       
  align-items: center;
  gap: 6px;                   
  white-space: nowrap;
}
/* menu desplegable */
nav ul ul {
  display: none;
  position: absolute;
  width: auto;
  margin: 0%;
  top: 100%;
  background: var(--color-texto);
}

nav ul ul li {
  float: none;
  margin: 0;
  padding: 0;
}

nav ul ul a {
  color: var(--color-primario);
  font-size: 1rem;
  margin: 0;
}

nav ul ul li:hover {
  background-color: var(--color-hover);
}
nav ul ul li a:hover {
  color: var(--color-texto);
}
nav ul li:hover > ul {
  display: block;
}

/* MAIN */
#main {
  display: flex;
  flex-direction: column;
  background-color: var(--color-fondo);
  width: 100%;
  gap: 20px;
}
.container_suscripcion {
  background-image: url("../img/cultivos_1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0%;
  width: 100%;
}
/* Estilos de modal de vídeo */
.modal_video {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
}


.modal-content-video {
  position: relative;
  margin: 10% auto;
  padding: 0;
  width: 60%;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}


.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
}


.video-container {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Estilos de los artículos */
#articulo_0 {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primario);
  color: var(--color-texto);
  align-items: center;
  gap: 10px;
  text-align: center;
  border-radius: 8px;
  width: 50%;
  margin: 5% auto;
  padding: 3%;
}

.container_suscripcion h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.container_suscripcion p {
  font-size: 1.2rem;
  text-align: left;
  color: var(--color-texto);
}
.container-enlace-suscripcion {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.enlace-informacion,
.enlace-suscripcion {
  display: flex;
  margin: 3% 0;
  gap: 8px;
  color: var(--color-texto);
  font: bold;
  align-items: center;
  justify-content: baseline;
  text-decoration: none;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.enlace-informacion {
  background-color: var(--color-secundario);
}
.enlace-suscripcion {
  background-color: var(--color-terciario);
}

.enlace-informacion:hover,
.enlace-suscripcion:hover {
  background-color: var(--color-hover);
}

.enlace_fila {
  display: flex;
  margin: 5% 0;
  gap: 8px;
}
.container-enlace-suscripcion .enlace-suscripcion {
  padding: 17px;
}

article {
  padding: 20px;
  width: 90%;
  margin: auto;
}

/* estilos al texto */
h1,
h2 {
  font: bold Lucida Sans, sans-serif;

  margin: 2% 0;
}

.espacio_blanco {
  margin-top: 8%;
  color: var(--color-primario);
}
h3 {
  font: bold Lucida Sans, sans-serif;

  margin: 0;
}

p {
  margin-bottom: 20px;
  color: var(--color-cuarto);
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}

article h2 {
  color: var(--color-primario);
  font-size: 2.2rem;
}
article h3 {
  font-size: 2rem;
}
.titulo {
  font-size: 2.5rem;
  margin: 30px 0;
  text-align: center;
}
/* Estilos para cuadricula de index.html*/
.container_cuadricula {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-left: 6%;
}

.cuadricula {
  width: 28%;
  float: left;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 300px;
  margin: 2% 0;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.cuadricula:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.cuadricula img {
  width: 60px;
  height: auto;
  margin-bottom: 15px;
}
.cuadricula .titulo {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  color: var(--color-primario);
  margin-bottom: 10px;
}

.cuadricula .descripcion {
  font-size: 15px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 15px;
}

.cuadricula a {
  color: var(--color-secundario);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  cursor: pointer;
}

/* Estilos para imagenes */
.img-responsive {
  max-width: 100%;
  width: 350px;
  height: auto;
}

/* Estilos para beneficios */

.columnas {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  margin: 3%;
}

.columna {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ventaja {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.ventaja .icono {
  font-size: 1.8rem;
  color: var(--color-secundario);
  min-width: 30px;
  margin-top: 4px;
}

.ventaja h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: var(--color-cuarto);
}

.ventaja p {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}
/* Footer */
#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primario);
  color: var(--color-texto);
  padding: 30px 40px;
  text-align: center;
  gap: 30px;
}
#footer_proveedor {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-secundario);
  color: var(--color-texto);
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  text-align: center;
  gap: 30px;
  flex-direction: column;
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.footer-links a {
  color: var(--color-texto);
  text-decoration: none;
  font-size: 1.25rem;
}

.footer-links a:hover {
  color: var(--color-secundario);
}

#footer_proveedor .footer-links a:hover {
color: var(--color-primario);
}
.container_rrss {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.container_rrss a {
  color: var(--color-texto);
  text-decoration: none;
  font-size: 1rem;
}

.container_rrss a:hover {
  color: var(--color-secundario);
}
.rrss {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  opacity: 0.8;
}
/* Estilos al contenedor que contiene al manual de uso */
#manualPDF{
  width: 100%;
  height: 100vh;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  #principal_header {
    flex-direction: column;
    gap: 10px;
  }
    #principal_header_proveedor {
    flex-direction: column;
    gap: 10px;
  }
   
  .loging {
    width: 100%;
    display: block;
    justify-items: flex-end;
    margin-bottom: 2%;
  }
  .loging a {
    margin-right: 2%;
  }
  .modal-content {
    width: 95%;
    max-height: 70vh;
  }
  .modal-content h2 {
    font-size: 1.25rem;
  }
  .modal-content h3 {
    font-size: 1.125rem;
  }

  .cuadricula {
    width: 100%;
    height: auto;
    padding: 15px;
  }

  .cuadricula img {
    width: 50px;
  }

  .cuadricula .titulo {
    font-size: 1rem;
  }

  .cuadricula .descripcion {
    font-size: 0.85rem;
  }
  /* Estilos de modal de vídeo */
.modal_video {


  z-index: 9999;
  right: 10%;
  top: 30px;
  width: 80%;
  height: 100%;
  overflow: auto; 
}
}

@media (max-width: 576px) {
  .logotipo {
    max-width: 150px;
    width: 90%;
    height: auto;
  }
  .informacion a {
    font-size: 1rem;
    padding: 2px;
  }
  .informacion a {
    color: #ffffff;
    font-size: 1.3rem;
    padding: 2px;
  }
  .container-selector-group {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .container_nav {
    flex-direction: column;
    gap: 10px;   
    border-top: solid 0px;
    margin-left: 0;
  }
  #menuHamburguesa {
    display: block;
  }

  #newBadge {
    display: none;
  }

  #articulo_0 {
    width: 90%;
    margin: 3% auto;
  }
  .container_suscripcion h1 {
    font-size: 1.5rem;
  }
  .container_suscripcion p {
    font-size: 1rem;
  }
  .enlace-suscripcion,
  .enlace-informacion {
    margin: 0;
    padding: 5px;
  }
  .container-enlace-suscripcion .enlace-suscripcion {
    padding: 5px;
  }
  .fa-2x {
    font-size: 1.2rem;
  }
  article h2 {
    font-size: 1.5rem;
  }
  article p {
    font-size: 1rem;
  }
  #footer {
    padding: 1rem;
    gap: 1rem;
    font-size: 0.85rem;
  }
  .footer-links {
    flex-direction: column;
    gap: 10px;
    font-size: 0.85rem;
  }
  .container_rrss {
    flex-direction: row;
    align-items: center;
  }

  .footer-links a {
    font-size: 0.85rem;
  }

  .rrss {
    width: 30px;
    height: 30px;
  }
}
