* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* PALETA DE COLORES Y TAMAÑOS DE LETRA*/
:root {
  --color-primario: #28784d;
  --color-secundario: #cd9c1c;
  --color-terciario: #ff682c;
  --color-cuarto: #17432c;
  --color-texto: #ecf0f0;
  --color-hover: #335f47;
  --color-fondo: #f4f4f4;

  --font-small: 0.875rem;
  --font-base: 1rem;
  --font-large: 1.25rem;
  --font-xlarge: 1.5rem;
  --font-xxlarge: 2rem;
}

body {
  background-color: var(--color-fondo);
  font-size: var(--font-base);
}

/* Estilos del elemento contenedor principal */
#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: min-content;
  text-align: left;
}

/* Estilos del elemento header */
#principal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-primario);
  color: rgb(236, 240, 240);
}

#barra {
  display: flex;
  width: 100%;
}
.container_logotipo {
  display: flex;
  max-width: 250px;
  height: auto;
  padding: 0 10px;
  margin: 0;
}

.logotipo {
  width: 90%;
  height: auto;
}
/* Menú hamburguesa */
#menuHamburguesa {
  display: none;
  background: none;
  border: none;
  font-size: var(--font-xxlarge);
  cursor: pointer;
  color: var(--color-texto);
  margin-right: 1rem;
}

/* Estilo del elemento nav */
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-primario);
}

.container_nav {
  display: flex;
  flex-direction: row;
  gap: 1.7rem;
  padding: 10px;
  border-top: #ddd 1px solid;
}

nav a {
  color: var(--color-texto);
  padding: 10px;
  text-decoration: none;
  font-size: var(--font-large);
}

nav a:hover {
  background-color: var(--color-hover);
  color: rgb(236, 240, 240);
}

#portada {
  width: 100%;
  background-color: #d1cfcf;
}
#portada img {
  width: 40%;
  height: auto;
  margin-left: 25%;
}

/* Estilos para el contenedor usuario y menu hamburguesa*/

.container_menu_nombre {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.8em 1em;
}

.container_menu_nombre #nom {
  color: var(--color-texto);
  font-size: var(--font-large);
  font-weight: bold;
}
.usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 0.8em 1em;
}
.loging a {
  color: #ffffff;
  background-color: #f1af00;
  width: 100%;
  margin-right: 15px;
  font-size: var(--font-base);
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s;
}

.loging a:hover {
  background-color: rgb(236, 26, 26);
}

.loging i {
  margin-right: 10px;
  font-size: var(--font-large);
}

/* Estilos tablas */
h2 {
  text-align: center;
  font-size: var(--font-xxlarge);
  margin: 30px 0;
  color: var(--color-hover);
}
/* Estilo para el nombre del proveedor */
/* .proveedor {
  margin-left: 10%;
  font-size: var(--font-large);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
} */
/* Estilos a las tablas */
.table-responsive {
  width: 100%;
  overflow-x: auto;
}
table {
  width: 80%;  
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #335f47;
  color: white;
}

th,
td {
  padding: 0.5rem 0.7rem;
  border: 1px solid #ddd;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  background-color: #f1af00;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button.editar {
  padding: 5px 10px;
  background-color: orangered;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button.guardar {
  padding: 5px 10px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: rgb(236, 26, 26);
}

/* Estilos enlace crear*/
.enlace_crear {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: 100%;
}
.enlace_crear a {
  text-decoration: none;
  font-weight: bold;
  width: 30%;
}
.enlace_crear a button {
  color: #ffffff;
  background-color: rgb(236, 26, 26);
  width: 100%;
  padding: 10px 20px;
  font-size: var(--font-base);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.enlace_crear a button:hover {
  background-color: #f1af00;
}

/* Estilos volver*/
.volver {
  width: 150px;
  margin-left: 150px;
}
.volver a button {
  color: #ffffff;
  background-color: #335f47;
  padding: 10px 20px;
  margin: 20px 15px;
  font-size: var(--font-small);
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.volver a button:hover {
  background-color: rgb(236, 26, 26);
}

/* estilos enlace mapa */

#mapContainer {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 600px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  z-index: 1000;
  display: none;
}

#map {
  width: 100%;
  height: 100%;
}

.cerrar_mapa {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  width: 10%;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1100;
}

.enlace_mapa {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.enlace_mapa:hover {
  color: darkblue;
}

/* Estilos para formulario app*/
.container_form {
  width: 50%;
  margin: 10px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}
.container_form h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #c4232b;
}
.container_form strong {
  font-size: var(--font-base);
  color: blue;
}
.container_form ul {
  list-style: none;
  margin: 1%;
}

.container_form button {
  margin: 2%;
}
#form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: var(--font-large);
  color: #555;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: var(--font-base);
  background: #f9f9f9;
}

.submit-btn {
  margin-top: 20px;
  background: #f1af00;
  color: white;
  font-size: var(--font-base);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background: rgb(236, 26, 26);
}
/* Estilos para la modal  */
/* Estilo para el fondo del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Estilo para la sección pie de la página web */
#footer {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-primario);
  color: var(--color-texto);
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  text-align: center;
  gap: 30px;
  flex-direction: column;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.footer-links a {
  color: var(--color-texto);
  text-decoration: none;
  font-size: var(--font-large);
}

.footer-links a:hover {
  color: var(--color-secundario);
}

/* Contenedor del texto central */
.contenedor_derecho_autor {
  text-align: center;
  font-size: var(--font-base);
  opacity: 0.9;
}

/* Contenedor de redes sociales */
.container_rrss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

.rrss {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  opacity: 0.8;
}
/* estilos para listas campañas */
.lista1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista1 li {
  margin: 5px 0;
}

.lista1 a {
  display: block;
}
/* RESPOSIVE */
@media (max-width: 768px) {
  #principal_header {
    flex-direction: column;
    align-items: flex-start;
  }
  .container_logotipo {
    margin: auto;
  }
  .loging {
    width: 50%;
  }
  .container_menu_nombre {
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5em;
    width: 100%;
    justify-content: space-between;
  }
  #principal_header {
    flex-direction: column;
    justify-content: space-between;
  }
  #menuHamburguesa {
    display: block;
  }

  #nav {
    display: none;
    flex-direction: column;
    background-color: var(--color-primario);
    width: 100%;
  }

  #nav.open {
    display: flex;
  }

  .container_nav {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .container-selector a {
    font-size: var(--font-base);
    padding: 0.75rem;
  }

  enlace_crear a button,
  .volver a button {
    width: 80%;
    margin: 1rem auto;
  }

  table {
    width: 100%; 
  }

  th,
  td {
    padding: 0.5rem;
  }
  .ocultar-sm {
    display: none;
  }

  th.ocultar-sm,
  td.ocultar-sm {
    display: none;
  }
  table button{
    font-size: var(--font-small);
  }
}
@media (max-width: 576px) {
  .usuario {
    width: 90%;
    justify-content: space-between;
    padding: 0.8rem;
  }
  .loging {
    width: auto;
  }
  .loging a {
    width: auto;
    margin-right: 0;
    padding: 0 10px;
  }
  .loging i {
    font-size: small;
    margin-right: 0;
  }
  .container_menu_nombre #nom {
    font-weight: normal;
  }
  #container_out p {
    padding: 1%;
  }
  #portada img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .container_form {
    width: 100%;
  }
  p {
    font-size: var(--font-base);
  }
  .volver {
    display: none;
  }
  #footer {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-links a {
    font-size: var(--font-base);
  }

  .contenedor_derecho_autor {
    font-size: var(--font-small);
  }

  .container_rrss {
    justify-content: center;
  }

  .rrss {
    width: 30px;
    height: 30px;
  }

  /* Estilo de la tabla para pantallas extra pequeñas: */
  /* Utilizamos la propiedad overflow al div que contiene la tabla y la centramos con margin */

  table {
    overflow-x: auto;
    margin: 0 auto;
  }

  /* Oculto  el thead*/
  thead {
    visibility: collapse;
  }

  /* Hago que las filas se comporten como columnas convirtiendo las filas en display flex 
y dando la direccion en columna */
  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  td {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  td {
    font-size: var(--font-large);
  }
  td button {
    width: 30%;
  }
}
