* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* PALETA DE COLORES Y TAMAÑOS DE LETRA*/
:root {
  --color-primario: #28784d;
  --color-secundario: #cd9c1c;
  --color-terciario: #ff682c;
  --color-cuarto: #17432c;
  --color-texto: #ecf0f0;
  --color-hover: #335f47;
  --color-fondo: #afafaf;

  --font-small: 0.875rem;
  --font-base: 1rem;
  --font-large: 1.25rem;
  --font-xlarge: 1.5rem;
   --font-xxlarge: 2rem;
}

/* Estilos del elemento contenedor principal */

#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;  
  text-align: left;
  font-size: var(--font-base); 
}

/* Estilos del elemento header */
#principal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-primario);
  color: rgb(236, 240, 240);
}
/* Menú hamburguesa */
#menuHamburguesa {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-texto);
  margin-right: 1rem;
}
#nav {
  display: none;
}

#barra {
  display: flex;
  width: 100%;
}

.container_logotipo {
  display: flex;
  max-width: 250px;
  height: auto;
  padding: 0 10px;
  margin: 0;
}

.logotipo {
  width: 90%;
  height: auto;
}

#portada {
  width: 100%;
  min-height: 63vh;  
  background-color: var(--color-fondo);
}
#portada img {
  width: 80%;
  height: auto;
}

/* Estilos para  selectores del header*/
.container-selector {
  position: relative;
  margin-left: 15px;
}
.container-selector a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.container-selector a:hover {
  background-color: #335f47;
  color: rgb(236, 240, 240);
}

/* Estilos para el contenedor usuario y menu hamburguesa*/

.container_menu_nombre {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  padding: 0.8em 1em;
}

.container_menu_nombre span {
  text-decoration: none;
  color: var(--color-texto);
  font-size: 1.2rem;
  font-weight: bold;
}
.usuario {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  gap: 10px;
  padding: 0.8em 1em;
}

.loging {
  background-color: #f1af00;
  width: auto;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s;
}
.loging a {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
}
.loging a:hover {
  background-color: rgb(236, 26, 26);
}

.loging i {
  margin-right: 10px;
  font-size: 18px;
}

/* Estilos tablas */
h2 {
  text-align: center;
  font-size: var(--font-xxlarge);
  margin: 30px 0;
  color: var(--color-secundario);
}
/* Estilo para el nombre del proveedor */
.proveedor {
  margin-left: 10%;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}
/* Estilos a tablas */
.table-responsive {
  overflow-x: auto;
}
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

thead {
  background-color: #335f47;
  color: white;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: #b6e3ae;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  background-color: #f1af00;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button.editar {
  padding: 5px 10px;
  background-color: orangered;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button.guardar {
  padding: 5px 10px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  background-color: rgb(236, 26, 26);
}

/* Estilos enlace crear*/
.boton_crear {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: 100%;
}
.boton_crear a {
  text-decoration: none;
  font-weight: bold;
  width: 30%;
}
.boton_crear a button {
  color: #ffffff;
  background-color: rgb(236, 26, 26);
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton_crear a button:hover {
  background-color: #f1af00;
}

/* Estilos enlace ver */
.enlace_ver {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  width: 100%;
}
.enlace_ver a {
  text-decoration: none;
  font-weight: bold;
  width: 30%;
}
.enlace_ver a button {
  color: #ffffff;
  background-color:#f1af00 ;
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.enlace_ver a button:hover {
  background-color: rgb(236, 26, 26);
}

/* Estilos volver*/
.volver {
  width: 150px;
  margin-left: 150px;
}
.volver a button {
  color: #ffffff;
  background-color: #335f47;
  padding: 10px 20px;
  margin: 20px 15px;
  font-size: 14px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.volver a button:hover {
  background-color: rgb(236, 26, 26);
}

/* estilos enlace mapa */

#mapContainer {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 600px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  z-index: 1000;
  display: none;
}

#map {
  width: 100%;
  height: 100%;
}

.cerrar_mapa {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  width: 10%;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1100;
}

.enlace_mapa {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.enlace_mapa:hover {
  color: darkblue;
}

/* Estilos para formulario app*/
.container_form {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: left;
}
.container_form h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #c4232b;
}
.container_form strong {
  font-size: 18px;
  color: blue;
}
.container_form ul {
  list-style: none;
  margin: 1%;
}

.container_form button {
  margin: 2%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  font-size: 20px;
  margin: 25px 0;
  color: #555;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background: #f9f9f9;
}

.submit-btn {
  margin-top: 20px;
  background: #f1af00;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background: rgb(236, 26, 26);
}

/* Estilo para la sección pie de la página web */

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primario);
  color: var(--color-texto);
  padding: 1.5rem 2.5rem;
  text-align: center;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  text-align: center;
  width: 100%;
}

.footer-links a {
  color: var(--color-texto);
  text-decoration: none;
  font-size: 1em;
}

.footer-links a:hover {
  color: var(--color-secundario);
}

/* Contenedor del texto central */
.contenedor_derecho_autor {
  text-align: center;
  font-size: 1em;
  opacity: 0.9;
}

/* Contenedor de redes sociales */
.container_rrss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
}

.rrss {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
  opacity: 0.8;
}
/* estilos para listas campañas */
.lista1 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista1 li {
  margin: 5px 0;
}

.lista1 a {
  display: block;
}

/* ===== Menú lateral ===== */
#aside {
  position: fixed;
  top: 190px;
  left: 0;
  /* Para calcular dinámicamente la altura de del menú */
  height: calc(50% - 50px);
  background-color: #28784d;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  width: 75px; 
  z-index: 1000;
}

/* Expandido */
#aside:hover {
  width: 180px;
}

/* Se oculta el texto cuando está colapsado */
#aside .menu-text {
  display: none;
}

/* Cuando se hace hover, se muestra */
#aside:hover .menu-text {
  display: inline;
}

.sidebar-header {
  padding: 15px;
}

.sidebar-title {
  font-size: 20px;
  margin: 0;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 15px 0;
}

.sidebar-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-menu a i {
  margin-right: 10px;
  min-width: 20px;
  text-align: center;
}

.sidebar-menu a:hover {
  background-color: #335f47;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 16px;
}

.usuario-nombre {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.logout-btn {
  color: white;
  text-decoration: none;
}

.logout-btn:hover {
  color: #c4232b;
}
/* Estilos para datos del contratista*/
.container_datos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

/* Cada grupo (Campañas, Fincas, Proveedores) */
.grupo_datos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Título de cada grupo */
.grupo_datos h2 {
  width: 100%;
  font-size: var(--font-xxlarge);
  color: #28784d;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

/* Estilo base de tarjetas */
.card {
  border-radius: 12px;
  padding: 20px;
  color: #333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

/* Estilo del texto dentro de las tarjetas */
.card h3 {
  color: var(--color-primario);
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Colores personalizados */
.card-green {
  background-color: #d4edda;
}
.card-blue {
  background-color: #d1ecf1;
}
.card-red {
  background-color: #f8d7da;
}
.card-orange {
  background-color: #ffe8cc;
}
.card-purple {
  background-color: #e0d4f7;
}
.card-pink {
  background-color: #fbd0e4;
}
.card-teal {
  background-color: #d0f7f3;
}
.card-yellow {
  background-color: #fff5cc;
}
.card-dark {
  background-color: #dcdcdc;
}
.card-sky {
  background-color: #d0f0ff;
}
.card-lightblue {
  background-color: #c6e2ff;
}

/* RESPOSIVE */

@media (min-width: 769px) {
  /* Darle importancia porque por defecto se ponia en display:block */
  #nav {
    display: none !important;
  }
}
@media (max-width: 768px) {
  #principal_header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #aside {
    display: none;
  }

  /* Estilo del elemento nav */
  #nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--color-primario);
    padding: 0 10px;
  }

  .container_nav {
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 1.5rem;
  }

  nav a {
    color: var(--color-texto);
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
  }

  nav a:hover {
    background-color: var(--color-hover);
    color: rgb(236, 240, 240);
  }
  /* Estilos a los botones */
  .boton_crear a button,
  .volver a button {
    width: 80%;
    margin: 1rem auto;
  }
  /* Estilos de las tablas */
  table {
    width: 100%;
    font-size: 1.2rem;
  }

  th,
  td {
    padding: 0.5rem;
  }
  .ocultar-sm {
    display: none;
  }

  th.ocultar-sm,
  td.ocultar-sm {
    display: none;
  }
}
@media (max-width: 576px) {
  #principal_header {
    flex-direction: column;
  }
  .container_menu_nombre {
    justify-content: space-between;
  }

  #menuHamburguesa {
    display: block;
  }

  #nav {
    display: none;
    flex-direction: column;
    background-color: var(--color-primario);
    width: 100%;
    padding: 0.8rem;
  }

  #nav.open {
    display: flex;
  }

  .container_nav {
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .container-selector a {
    font-size: 1rem;
    padding: 0.75rem;
  }
  .container_nav {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
  .container_menu_nombre {
    width: 100%;
  }

  .container_datos {
    gap: 0;
  }

  /* Estilo base de tarjetas */
  .card {
    padding: 5px;
    margin-bottom: 0px;
    gap: 5px;
  }
  h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  .boton_crear a {
    width: 50%;
  }
  .container_form {
    width: 90%;
  }
  .container_form {
    width: 100%;
  }
  p {
    font-size: 1em;
  }
  .volver {
    display: none;
  }
  /* Estilos del footer */
  #footer {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .footer-links a {
    font-size: 1rem;
  }

  .contenedor_derecho_autor {
    font-size: 0.875rem;
  }

  .container_rrss {
    justify-content: center;
  }

  .rrss {
    width: 30px;
    height: 30px;
  }
  /* Estilo de la tabla para pantallas extra pequeñas: */
  /* Utilizamos la propiedad overflow al div que contiene la tabla y la centramos con margin */

  table {
    overflow-x: auto;
    margin: 0 auto;
  }

  /* Oculto  el thead*/
  thead {
    visibility: collapse;
  }

  /* Hago que las filas se comporten como columnas convirtiendo las filas en display flex 
y dando la direccion en columna */
  tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  td {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  td {
    font-size: 1.2em;
  }
  td button {
    width: 30%;
  }
}
