/* Estilos para formulario */
.container_form_public {
  background-image: url("../img/formacion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0%;
  width: 100%;
}

.contact-form {
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
  margin-bottom: 1.5rem;
}
.contact-form h2 {
  color: var(--color-primario);
}
.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="checkbox"] {
  width: auto;
  margin-bottom: 10px;
}

.form-group.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.consentimiento {
  font-size: 0.875rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.error-message {
  color: #C00; 
  font-size: 0.875rem;
  margin-top: 0.3rem;
}

[aria-invalid="true"] {
  border-color: #C00;
  outline-color: #C00;
}

/* Botón de envío */
.btn-submit {
  background-color: var(--color-primario);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: var(--color-hover);
}


input:focus,
select:focus,
textarea:focus {
  outline: 2px solid #4c9aff;
}


label span {
  color: #C00;
  font-weight: normal;
}

@media (max-width: 576px) {
  .contact-form {
    margin: 20px auto;
    text-align: center;
  }
  form h2 {
    font-family: 1.2rem;
  }

  input
 {
  
    padding: 8px;
  }

  label {
    font-size: 1rem;
  }

  p,
  a {
    font-size: 0.85em;
  }
}
