/* PALETA DE COLORES Y TAMAÑOS DE LETRA*/
:root {
  --color-primario: #28784d;
  --color-secundario: #cd9c1c;
  --color-terciario: #ff682c;
  --color-cuarto: #17432c;
  --color-texto: #ecf0f0;
  --color-hover: #335f47;
  --color-fondo: #f4f4f4;

  --font-small: 0.875rem;
  --font-base: 1rem;
  --font-large: 1.25rem;
  --font-xlarge: 1.5rem;
  --font-xxlarge: 2rem;
}
h1 {
  color: var(--color-primario);
  font-size: 3.5rem;
  text-align: center;
}
h2 {
  color: var(--color-primario);
  font-size: 2rem;
  text-align: center;
}

h3 {
  color: var(--color-secundario);
  font-size: 1.9rem;
  text-align: start;
  margin: 2%;
}
.container_tarifas {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
#tablas_autonomos{
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 0;
}

.container-tablas{
  display: flex;  
  flex-wrap: nowrap; 
  gap: 10px;
  padding: 10px 0;
}


/* Estilos generales para las tablas */
.container-tablas table {
  width: 70%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}
#tablas_autonomos table {  
  width: 15%;
  margin: auto;
}
.container-tablas caption {
  background-color: var(--color-primario);
  color: var(--color-texto);
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.container-tablas th,
.container-tablas td {
  padding: 12px;
  text-align: left;
  font-size: var(--font-small);
  border-bottom: 1px solid #e0e0e0;
}

.container-tablas th {
  background-color: rgb(220, 218, 218);
  font-weight: 600;
}

.container-tablas .total {
  background-color: var(--color-hover);
  color: var(--color-texto);
  font-weight: bold;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .container-tablas {
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }


  .container-tablas table {
    min-width: 300px;
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
}
@media (max-width: 576px) {
  .container-tablas {
    flex-direction: column;
    width: 80%;
    margin: auto;
    overflow-x: unset;
    gap: 20px;
  }

  .container-tablas table {
    width: 100%;
    min-width: unset;
  }
}
